extends ./base.jade

block styles
  link(href="/css/new.css" rel="stylesheet" type="text/css")

block content
  h1= document.title
  
  input(type="hidden" value= document._id)#document-id
  input(type="hidden" value= user)#user-id
  
  .form-group
    label(for="document") Document
    textarea#document.form-control= document.document
    
  .form-group
    label(for="message") Message
    textarea#message.form-control
    
  a.btn.btn-primary#update-button Update
  
  .form-group
    label User
    input(type="text")#add-user-id
    
  a.btn.btn-secondary#add-user-button Add User
  
  .output
  
  a(href="/demo/history/" + document._id + "/" + user).btn.btn-secondary#log-button View History
  
  block scripts
    script(src="/scripts/document.js")
