extends ./base.jade

block styles
  link(href="/css/new.css" rel="stylesheet" type="text/css")

block content
  h1= document.title
  
  input(type="hidden" value= document._id)#document-id
  
  .form-group
    label(for="document")
    textarea#document.form-control= document.document
  a.btn.btn-primary#update-button Update
  
  .output
  
  block scripts
    script(src="/scripts/document.js")
