extends ./base.jade

block styles
  link(href="/css/demo.css" rel="stylesheet" type="text/css")

block content
  h1.title Documents

  .document-container
    ul.document-list.list-group
    
  block scripts
    script(src="/scripts/demo.js")
